@import url("https://use.typekit.net/ppc0skv.css");

@media screen and (max-width: 768px) {
  :root {
    --svgSize: 100px;
  }
}

body {
  overflow-y: scroll;
}

/**
line1 rotate: 25deg;
line2 rotate: -25deg;
    translate: -6px 4px;
**/
nav {
  position: initial;
  padding: 0rem !important;
  grid-row: 2;
  grid-column: 1;
}
.siteHeader {
  grid-row: 1;
  grid-column: 2 !important;
}

#content {
  background-image: radial-gradient(rgba(223, 223, 223, 0.281) 1px, transparent 0);
  background-size: 70px 70px;
  background-position: -19px -19px;
}

:is(ol,ul):not( > nav) {
  list-style-type: auto !important;
}

[data-blog-post] {
  background: rgb(18 23 23 / 54%) !important;
  backdrop-filter: blur(1px);
  border-radius: 6px;
}
.markdown-body {
  background-color: unset !important;
}

dl[data-tags]::-webkit-scrollbar {
  width:1px;
}
dl[data-tags]::-webkit-scrollbar-thumb {
  background-color: #ffffff00;
}
dl[data-tags] {
  margin-bottom: 0 !important;
  gap: .25rem;
  position: absolute;
}
dl[data-tags] dt {
  margin-top: 0 !important;
  transform: scale(1);
  line-height: 1;
  border: 2px solid white;
  padding: .25rem .5rem !important;
  border-radius: 100vh;
  /* transform-origin: left;
  transition: transform .23s var(--tf);
  transition-delay: calc(.05s * var(--idx)); */
  cursor: pointer;
}
dl[data-tags] dt::before {content: '#'}
/* dl[data-tags] dt:first-child {
  transform: scaleX(1);
}
dl[data-tags]:hover dt{
  transform: scaleX(1);
} */
